@page "/employeedetail/{id}"

<h3>Detail Employee</h3>
<p>Detail Id: @Employee.EmployeeId</p>
<p>Detail FirstName: @Employee.FirstName</p>
<p>Detail LastName: @Employee.LastName</p>
<p>Detail Email: @Employee.Email</p>
<p>Detail DateOfBirth: @Employee.DateOfBirth</p>
<p>Detail Gender: @Employee.Gender</p>
<p>Detail Department: @Employee.DepartmentId</p>
<p>Detail PhotoPath: @Employee.PhotoPath</p>